@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --card-bg: rgba(255, 255, 255, 0.02);
  --border-color: rgba(255, 255, 255, 0.05);
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

/* uppercase and letter spacing for header and link */
h1,
h2,
h3,
.micro-cap,
header a,
footer a,
.btn-spasex {
  text-transform: uppercase !important;
  letter-spacing: 0.15em !important;
  font-weight: 700 !important;
}

/* minimalist border and background for cards and layout */
.card,
header,
footer {
  border: 1px solid var(--border-color) !important;
  background: var(--card-bg) !important;
}

/* custom button */
.btn-spasex {
  border: 1px solid white;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.btn-spasex:hover {
  background: white;
  color: black;
}
